extends base

block content
    .blog
        .blog__post
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020
            .card
                .card__img--container
                    img(src='' alt='')
                .card__author--info
                    .card__author__img
                    .card__author__name Lorem Dolor
                .card__title
                    | Lorem ipsu onsectetur adipiscingc ctetur adipiscing
                .card__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                    | turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                    | fringilla accumsan, risus sem sollicitudin lacus, ut interdum te
                .card__category-date
                    .card__category Sports
                    .card__date July 2, 2020

        .blog__pagination
            button.blog__pagination--left-arrow &lt;
            .blog__pagination__number-box
                .blog__pagination__number 1
                .blog__pagination__number.blog__pagination__number--active 2
                .blog__pagination__number 3
            button.blog__pagination--right-arrow &gt;
