//color
$color-primary: #7ed56f;

$color-secondary: #ff7730;

$color-tertiary: #1fe5d9;

$color-gray-light-1: #f7f7f7f7;
$color-gray-dark-2: #eee;
$color-gray-dark-3: #999;
$color-gray-dark-4: #333;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// font
$default-text-size: 1.6rem;

